
.footer{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border-radius: var(--BorderRadius);
}

.footer-content{
    margin: 10px;
    display: flex;
    justify-content: left;
}