.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    overflow-y: hidden;
    border: var(--defaultBorder);
    border-radius: var(--BorderRadius);
    text-align: center;
    height: 60rem;
    margin-bottom: 10px;
}

.innerHeader
{
    overflow-y: hidden;
    font-size: xx-large;
    text-align: center;
    grid-column: 1 / 1;
    grid-row: 2 / 3;
}

.innerHeader a{
    background-color: darkgray;
}

.innerHeader a:hover{
    background-color: whitesmoke;
    color: black;
}