main{
    position: relative;
    display: flex;

    grid-template-columns: min(50px, 10%) auto;
    grid-template-areas: 
    "sidebar main"
    "sidebar main2";
    z-index: 10;
    flex-direction: column;
    margin: auto;
    background: #27323C;
}