.navbar{
    display: flex;
    text-shadow: 1px 1px 1px black;
    backdrop-filter: blur(20px);
    background-color: transparent;
    flex-direction: row;
    list-style-type: none;
    position: fixed;
    z-index:10000;
}

.navbar li a{
    border: 0px solid transparent;
    border-radius: 0px;
    background-color: transparent;
}

.navbar li a:hover{
    background-color: black;
    transition-property: background-color;
    transition-duration: 30ms;
}