#parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

#parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    pointer-events: none;
}

#titleText{
    display: flex;
    text-shadow: 1px 1px 1px black;
    flex-direction: column;
    text-align: center;
    z-index: 4;
}

#titleText.show{
    opacity: 1;
}

#layer1{
    vertical-align: top;
    z-index: 8;
}

#layer2{
    z-index: 7;
}

#layer3{
    z-index: 6;
}

#layer4{
    z-index: 5;
}

#layer5{
    z-index: 4;
}

#layer6{
    z-index: 3;
}

#layer7{
    z-index: 2;
}

#layer8{
    z-index: 1;
}