
#projects{
    grid-area: main2;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: var(--defaultBorder);
    border-radius: var(--BorderRadius);
}


#projects h1{
    text-align: center;
}

.flex-container-projects{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 20vh;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 5px 5px 5px #171d23;
    border: 1px solid beige;
    border-radius: var(--BorderRadius);
    width: min(350px, 40%);
    transition: all 1s;
    position: relative;
}

.card h2{
    text-align: center;
}

.card p{
    margin: min(5px, 10%);
    overflow-y: auto;
}

.card ::-webkit-scrollbar {
    width: 10px;
}

.card ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.card ::-webkit-scrollbar-thumb {
    background: #888;
}

.card ::-webkit-scrollbar-thumb:hover {
    background: darkgray;
}

.buttonFlexbox{
    display: flex;
    justify-content: center;
}

.buttonFlexbox a{
    background-color: #27323c;
    padding: 1em 2em;
    border: none;
    border-radius: 1000px;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonFlexbox a::after{
    content: '';
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, #008cff, #e100ff);
    z-index: -1;
}

.buttonFlexbox a:hover{
    z-index: 0;
    box-shadow: 40px 0 100px #008cff, -40 0 100px #e100ff;
}