
#projects{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: var(--defaultBorder);
    border-radius: var(--BorderRadius);
    margin-bottom: 10px;
}


#projects h1{
    text-align: center;
}

.flex-container{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    display: flex;
    flex-direction: column;
    border: var(--defaultBorder);
    border-radius: var(--BorderRadius);
    background-color: transparent;
    backdrop-filter: blur(20px);
    width: min(350px, 40%);
    transition: all 1s;
}

.card h2{
    text-align: center;
}

.card p{
    margin: min(5px, 10%);
    overflow-y: auto;
}

.card.show{
    opacity: 1;
}

.card ::-webkit-scrollbar {
    width: 10px;
}

.card ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.card ::-webkit-scrollbar-thumb {
    background: #888;
}

.card ::-webkit-scrollbar-thumb:hover {
    background: darkgray;
}

.buttonFlexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.buttonFlexbox a{
    background-color: darkgray;
    text-align: center;
    border: var(--defaultBorder);
    border-radius: var(--BorderRadius);
    width: 100px;
    height: 30px;
    color: white;
}

.buttonFlexbox a:hover{
    cursor: pointer;
    color: black;
    background-color: whitesmoke;
}