
aside{
    display: flex;
    position: fixed;
    top: 80vh;
    flex-direction: column;
    background-color: transparent;
    border-radius: var(--BorderRadius);
}

.sidebar-link{
    margin-left: 5px;
}

.sidebar-link a{
    padding: unset;
    border: unset;
    margin: unset;
    width: auto;
    height: 5vh;
}

.sidebar-link img{
    width: auto;
    height: 5vh;
    border-radius: var(--BorderRadius);
    background-color: beige;
}

.sidebar-link img:hover{
    background-color: white;
}