/* VARIABLES */
:root{
    --MainBgColor:rgb(27, 38, 44);
    --defaultBorder: 0px solid black;
    --WhiteBorder: 2px solid white;
    --SecondaryBgColor:rgb(15, 76, 117);
    --ThirdBgColor: rgb(50, 130, 184);
    --BorderRadius: 10px;
    --defaultPadding: 10px;
}

/* STYLES */
* {
    margin: 0;
    padding:0;
    font-family: SF;
    font-size: 20;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: SF;
    src: url("fonts/SFPRODISPLAYREGULAR.OTF");
}

html{
    background-color: #27323C;
    color: white;
    background-repeat: no-repeat;
    background-size:contain;
    background-attachment:fixed;
    margin: auto;
    overflow-x:hidden;
}

body{
    position: relative;
    overflow-x:hidden;
}

a{
    color: white;
    background-color: transparent;
    text-decoration: none;
    border: var(--WhiteBorder);
    border-radius: var(--BorderRadius);
    margin: 10px;
    padding: 5px;
}

a:hover{
    background-color: black;
}

.hidden{
    opacity: 0;
    transform: translateX(20px);
}