/* VARIABLES */
:root{
    --MainBgColor:rgb(27, 38, 44);
    --defaultBorder: 0px solid black;
    --WhiteBorder: 2px solid rgb(187, 225, 250);
    --SecondaryBgColor:rgb(15, 76, 117);
    --ThirdBgColor: rgb(50, 130, 184);
    --BorderRadius: 10px;
    --defaultPadding: 10px;
}

/* STYLES */
* {
    font-family: SF;
    font-size: 20;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: SF;
    src: url("fonts/SFPRODISPLAYREGULAR.OTF");
}

html{
    color: white;
    background-repeat:no-repeat;
    background-image: url("mainpage.jpg"); 
    background-size: cover;
    /* background-image: repeating-linear-gradient(45deg, black, #311D3F 100%);  */
    background-attachment: fixed;
    width: 100%;
    overflow-x: hidden;
}

body{
    display: grid;
    grid-template-columns: 60px 33% 33% 33% 60px;
    grid-template-rows: 3% 100% 30% 50% 20%;
}

@media only screen and (max-width: 768px){
    
    body{
        display: grid;
        grid-template-columns: 1px 33% 33% 33% 1px;
        grid-template-rows: 3% 70% 30% 50% 20%;
        overflow-x: hidden;

    }
}

@media only screen and (max-width: 1024px) and (min-width: 768px){
    
    body{
        display: grid;
        grid-template-columns: 1px 33% 33% 33% 1px;
        grid-template-rows: 3% 70% 30% 50% 20%;
        overflow-x: hidden;

    }
}

@media only screen and (max-width: 2560px) and (min-width: 1080px){
    
    body{
        display: grid;
        grid-template-columns: 100px 33% 33% 33% 100px;
        grid-template-rows: 3% 70% 30% 50% 20%;
        overflow-x: hidden;
        font-size: xx-large;
    }
}

a{
    color: white;
    background-color: transparent;
    text-decoration: none;
    border: var(--WhiteBorder);
    border-radius: var(--BorderRadius);
    padding: var(--defaultPadding);
}

a:hover{
    /* background-color: var(--SecondaryBgColor); */
    backdrop-filter: blur(5px);
    transition-property: backdrop-filter;
    transition-duration: 30ms;
}
